---
layout: default-no-header
title: Home
---
<div class="divide-y divide-gray-200">
    <div class="pt-6 pb-8 space-y-2 md:space-y-5">
        <h1 class="text-3xl leading-9 font-extrabold text-gray-900 tracking-tight sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">Latest</h1>
        <p class="text-lg leading-7 text-gray-500">From the head of James to the interwebs.</p>
    </div>

    <ul class="divide-y divide-gray-200">
        {% for post in paginator.posts %}
        <li class="py-12">
            <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">
                <dl>
                	<dt class="sr-only">Published on</dt>
                    <dd class="text-base leading-6 font-medium text-gray-500">
                    	<time datetime>{{ post.date | date_to_string }}</time>
                	</dd>
                	<dd class="text-base leading-6 font-light text-gray-700">
                    	{{ post.content | reading_time_as_i }} to read
                	</dd>
           		 </dl>

                    <div class="space-y-5 xl:col-span-3"><div class="space-y-6">
                        <h2 class="text-2xl leading-8 font-bold tracking-tight">
                            <a class="text-gray-900" href="{{ post.url }}">{{ post.title }}</a></h2>
                            <div class="prose max-w-none text-gray-500">
                                {{ post.excerpt }}
                            </div>
                        </div>
                        <div class="text-base leading-6 font-medium">
                            <a class="text-teal-500 hover:text-teal-600" aria-label="{{ post.title }}" href="{{ post.url }}">Read more →</a>
                        </div>
                    </div>
            </article>
        </li>
        {% endfor %}
    </ul>

{% if paginator.total_pages > 1 %}
<ul class="flex list-reset border border-grey-light rounded w-auto font-sans">
  {% if paginator.previous_page %}
  	<li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ paginator.previous_page_path | relative_url }}">Prev</a></li>
  {% else %}
    <li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ paginator.previous_page_path | relative_url }}">Prev</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    	<li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="">{{ page }}</a></li>
    {% elsif page == 1 %}
    	<li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ '/' | relative_url }}">{{ page }}</a></li>
    {% else %}
    	<li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  	<li><a class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ paginator.next_page_path | relative_url }}">Next</a></li>
  {% else %}
    <li><p class="block hover:text-blue hover:bg-blue text-blue border-r border-grey-light px-3 py-2" href="{{ paginator.next_page_path | relative_url }}">Next</a></li>
  {% endif %}
</ul>
{% endif %}
</ul>
